<div>

    <div libFlexRow [libFlexRowGap]="'16px'">
        <div libFlexColumn>
            <button class="primary-button" [disabled]="loading" (click)="buildCourse(false)">Build (Delivery
                API)</button>
        </div>
        <div libFlexColumn>
            <button class="primary-button" [disabled]="loading" (click)="buildCourse(true)">Build (Preview API)</button>
        </div>
        <div libFlexColumn libFlexFill>
        </div>
        <div libFlexColumn>
            <mat-checkbox [color]="'primary'" [(ngModel)]="publishToGitHub">Publish to GitHub (<strong>{{branch}}</strong> branch)</mat-checkbox>
        </div>
    </div>
</div>

<div style="height: 4px" class="push-top">
    <mat-progress-bar [mode]="'indeterminate'" *ngIf="loading"></mat-progress-bar>
</div>
<div *ngIf="buildResponse" class="push-top-sm card">
    <div libFlexRow>
        <div libFlexColumn libFlexFill>
            <h3>
                Build Result
            </h3>
        </div>
        <div libFlexColumn>
            <button class="secondary-button" (click)="handleDownloadOpenApi()">Download Open API</button>
        </div>
    </div>
    <h3>
    </h3>
    <div class="push-top-sm">
        <ul>
            <li>
                Root: <strong>{{buildResponse.root}}</strong>
            </li>
            <li>
                Filename: <strong>{{buildResponse.filename}}</strong>
            </li>
            <li>
                Is preview: <strong>{{buildResponse.isPreview}}</strong>
            </li>
            <li>
                Runtime: <strong>{{buildResponse.executionTime}}</strong>
            </li>
            <li>
                GitHub result: <strong>{{buildResponse.gitHubResult}}</strong>
            </li>
            <li>
                Branch: <strong>{{buildResponse.branch}}</strong>
            </li>
            <li>
                Warnings: <strong>{{buildResponse.warnings.length}}</strong>
            </li>
        </ul>
    </div>

    <div class="push-top warning-box" *ngIf="buildResponse.warnings.length">
        <div libFlexRow [libFlexRowGap]="'8px'"
            *ngFor="let warning of buildResponse.warnings; let i = index; let first = first"
            [class.push-top-sm]="!first">
            <div libFlexColumn>
                <strong>{{ i + 1}})</strong>
            </div>
            <div libFlexColumn>
                {{ warning }}
            </div>
        </div>
    </div>
</div>

<div *ngIf="infoMessage" class="info-box push-bottom push-top">
    {{ infoMessage }}
</div>

<div *ngIf="errorMessage" class="error-box push-bottom push-top">
    {{ errorMessage }}
</div>